aiohttp
aiosignal
argparse
arrow
astroid
async-timeout
attrs
beautifulsoup4
black
bs4
cairocffi
CairoSVG
certifi
cffi
charset-normalizer
click
cssselect2
defusedxml
dill
emoji
Faker
fancycompleter
flake8
frozenlist
futures
goslate
idna
iniconfig
isort
lazy-object-proxy
mccabe
multidict
mypy
mypy-extensions
numpy
openai
packaging
pandas
pathspec
pdbpp
Pillow
pip
platformdirs
pluggy
pycodestyle
pycparser
PyDictionary
pydocstyle
pyflakes
pygame
Pygments
pylint
pypng
pyrepl
pytest
python-dateutil
pytz
qrcode
requests
setuptools
six
snowballstemmer
soupsieve
tinycss2
tomlkit
tqdm
typing-extensions
typing_extensions
tzdata
urllib3
webencodings
wheel
wmctrl
wrapt
yarl
